    *
    /* color: white; */
    /* } */
    
    body {
        background-image: url('image-blog-will-ai-replace-programmers.webp');
        background-size: 130%;
        /* height: 60vw; */
    }
    
    #row1 {
        margin-left: 71%;
    }
    
    .icon {
        font-size: large;
        color: red;
    }
    
    .jumbo {
        text-align: center;
        font-size: x-large;
        color: white;
    }
    
    h4 {
        color: red;
    }
    
    .card {
        margin-top: 5.7em;
        height: 33rem;
        width: 24rem;
        text-align: center;
        border: 1px blue solid;
    }
    
    li {
        list-style: none;
    }